name: 'Terraform Plan'

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'
  issue_comment:
    types: [created]

env:
  ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID  }}
  AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  
  TF_VERSION: '1.13.1'
  TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
  
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
    terraform-plan:
        name: 'Terraform Plan'
        runs-on: ubuntu-latest

        if: github.event_name == 'pull_request' || (github.event_name == 'issue_comment' && contains(github.event.comment.body, '/terraform plan'))

        steps:
        - name: 'Checkout Repository'
          uses: actions/checkout@v5.0.0
    
        - name: 'Set up Terraform'
          uses: hashicorp/setup-terraform@v3.1.2
          with:
            terraform_version: ${{ env.TF_VERSION }}
    
        - name: 'Configure AWS Credentials'
          uses: aws-actions/configure-aws-credentials@v5.0.0
          with:
            aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}
    
        - name: 'Terraform Init'
          working-directory: ./terraform
          run: |
            terraform init
    
        - name: Terraform Plan
          id: tf-plan
          working-directory: ./terraform
          run: |
            terraform plan -no-color > tfplan.txt

            echo "plan<<EOF" >> $GITHUB_OUTPUT
            cat tfplan.txt >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT

        - name: 'Upload Terraform Plan'
          uses: actions/upload-artifact@v4.6.2
          with:
            name: terraform-plan
            path: terraform/tfplan.txt
            retention-days: 5

        - name: 'Check Terraform Plan Status'
          id: plan-status
          run: |
            if grep -q "No changes" "terraform/tfplan.txt"; then
              echo "status=no-changes" >> $GITHUB_OUTPUT
              echo "No changes in plan"
            elif grep -q "error\|fail" "terraform/tfplan.txt"; then
              echo "status=error" >> $GITHUB_OUTPUT
              echo "Plan failed"
              exit 1
            else
              echo "status=success" >> $GITHUB_OUTPUT
              echo "Plan successful"
            fi
        

        - name: Post Plan to PR
          if: github.event_name == 'pull_request'
          uses: marocchino/sticky-pull-request-comment@v2
          with:
            GITHUB_TOKEN: ${{ env.GH_TOKEN }}
            header: '## :terraform: Terraform Plan'
            message: |
              ${{ steps.plan-status.outputs.status == 'no-changes' && '# ✅ No changes detected in this plan' || '' }}
              ${{ steps.plan-status.outputs.status == 'error' && '# ❌ Plan failed' || '' }}
              ${{ steps.plan-status.outputs.status == 'success' && '# ✅ Plan successful - Review changes below' || '' }}
              
              ```terraform
              ${{ steps.tf-plan.outputs.plan }}
              ```
                
