name: 'Terraform Apply'

on:
  push:
    branches: 
        - 'main'
    paths:
      - 'terraform/**'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID  }}
  AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  
  TF_VERSION: ${{ secrets.TERRAFORM_VERSION }}
  TF_INPUT: false

jobs:
    terraform-apply:
        name: 'Terraform Apply'
        runs-on: ubuntu-latest

        steps:
        - name: 'Checkout Repository'
          uses: actions/checkout@v5.0.0
    
        - name: 'Set up Terraform'
          uses: hashicorp/setup-terraform@v3.1.2
          with:
            terraform_version: ${{ env.TF_VERSION }}
    
        - name: 'Configure AWS Credentials'
          uses: aws-actions/configure-aws-credentials@v5.0.0
          with:
            aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}
    
        - name: 'Terraform Init'
          id: tf-init
          working-directory: ./terraform
          run: |
            terraform init
    
        - name: Terraform Plan
          id: tf-plan
          working-directory: ./terraform
          run: |
            terraform plan -no-color

        - name: Terraform Apply
          id: apply
          working-directory: ./terraform
          run: terraform apply -auto-approve
