name: 'Terraform Check'

on:
  push:
    branches: 
        - '*'
        - '!main'
    paths:
      - 'terraform/**'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID  }}
  AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  TF_VERSION: ${{ secrets.TERRAFORM_VERSION }}
  TF_LOG: INFO
  TF_INPUT: false

jobs:
  terraform-check:
    name: 'Terraform Format & Validate'
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v5.0.0

    - name: 'Set up Terraform'
      uses: hashicorp/setup-terraform@v3.1.2
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: 'Configure AWS Credentials'
      uses: aws-actions/configure-aws-credentials@v5.0.0
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: 'Terraform Init'
      working-directory: ./terraform
      run: |
        terraform init

    - name: Terraform Format
      id: fmt
      run: terraform fmt -check

    - name: Terraform Validate
      id: validate
      if: success() || failure()
      run: terraform validate -no-color
