name: 'Terraform Apply'

on:
  issue_comment:
    types: [created]

env:
  ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID  }}
  AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  
  TF_VERSION: '1.13.1'
  TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
  
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
